@font-face {
    font-family: "Roboto";
    src: local("..\font\roboto-cirilic-400.woff2");
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: local("..\font\roboto-cirilic-500.woff2");
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2) format('woff2');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: local("..\font\roboto-cirilic-ext-400.woff2");
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: local("..\font\roboto-cirilic-ext-500.woff2");
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2) format('woff2');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: local("..\font\roboto-latin-400");
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: local("..\font\roboto-latin-500.woff2");
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: local("..\font\roboto-latin-ext-400.woff2");
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: local("..\font\roboto-latin-ext-500.woff2");
    src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format('woff2');
    font-style: normal;
    font-weight: 500;
}